config_*.yml
__pycache__/
server_output/
upload/*
!auto_test/*.json
auto_test/test_todo_list.json
logs/*
script_parser_logs/*
scheduler.lock
data/mysql
*.exe
*.dll
script_writer_core/logs
files/script_writer/*
files/tmp/*
bin
build/*